<!-- <h1> Reset Password</h1>
<div *ngIf="message">
    {{ message }}
  </div>
<form [formGroup]="password_reset" (ngSubmit)="onSubmit()">
    <div>
        <label for="email"> email </label>
        <input type="text" formControlName="email">
    </div>
    <button type="submit"> Reset </button>
</form> -->

<div class="modal top fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true" data-bs-backdrop="static" >
    <div class="modal-dialog" style="width: 300px;">
        <div class="modal-content text-center">
            <div class="modal-header h5 text-white bg-primary justify-content-center">
                Password Reset
            </div>
            <div class="modal-body px-5">
                <p class="py-2">
                    Enter your email address and we'll send you an email with instructions to reset your password.
                </p>
                <form [formGroup]="password_reset" (ngSubmit)="onSubmit()"  class="form-outline">
                  <div>
                      <label class="form-label" for="typeEmail">Email</label>
                      <input type="email" id="typeEmail" class="form-control my-3" formControlName="email">
                  </div>
                  <button type="submit" class="btn btn-primary w-100">Reset password</button>
                  </form>

                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="#">Login</a>
                    <a class="" href="#">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>