<div *ngIf="message" class="alert alert-info">
  {{ message }}
</div>

<section class="vh-100" style="padding-top: 10%">
  <div class="container py-5 text-black">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <body>
        <div class="container p-3 border border-5 rounded-3" style="width: 35%">
          <h1 class="display-6 text-center p-2 bg-light">Password Reset</h1>
          <form [formGroup]="password_reset_confirm" (ngSubmit)="onSubmit()">
            <div class="row mb-3 justify-content-md-center">
              <label for="new_password1" class="col col-form-label"
                >Your New Password</label
              >
              <div class="col-lg-auto">
                <input
                  type="password"
                  id="new_password1"
                  formControlName="new_password1"
                  class="form-control" />
                <div
                  *ngIf="
                    f['new_password1'].hasError('required') &&
                    (f['new_password1'].dirty || f['new_password1'].touched)
                  "
                  class="text-danger small mt-1">
                  New password is required.
                </div>
                <div
                  *ngIf="
                    f['new_password1'].hasError('minlength') &&
                    (f['new_password1'].dirty || f['new_password1'].touched)
                  "
                  class="text-danger small mt-1">
                  Password must be at least 8 characters long.
                </div>
              </div>
            </div>
            <div class="row mb-3 justify-content-md-center">
              <label for="new_password2" class="col col-form-label"
                >Confirm New Password</label
              >
              <div class="col-lg-auto">
                <input
                  type="password"
                  id="new_password2"
                  formControlName="new_password2"
                  class="form-control" />
                <div
                  *ngIf="
                    f['new_password2'].hasError('required') &&
                    (f['new_password2'].dirty || f['new_password2'].touched)
                  "
                  class="text-danger small mt-1">
                  Confirmation is required.
                </div>
                <div
                  *ngIf="
                    f['new_password2'].hasError('minlength') &&
                    (f['new_password2'].dirty || f['new_password2'].touched)
                  "
                  class="text-danger small mt-1">
                  Password must be at least 8 characters long.
                </div>
              </div>
            </div>
            <div class="row md-3 justify-content-md-center">
              <div class="text-center">
                <button
                  class="btn btn-primary"
                  [disabled]="password_reset_confirm.invalid">
                  Reset
                </button>
              </div>
            </div>
          </form>
        </div>
      </body>
    </div>
  </div>
</section>
