<div *ngIf="message">
  {{ message }}
</div>

<section class="vh-100" style="padding-top: 10%">
  <div class="container py-5 text-black">
    <div class="row d-flex align-items-center justify-content-center h-100">
      <body>
        <div class="container p-3 border border-5 rounded-3" style="width: 35%">
          <h1 class="display-6 text-center p-2 bg-light">Password Reset</h1>
          <form [formGroup]="password_reset_confirm" (ngSubmit)="onSubmit()">
            <div class="row mb-3 justify-content-md-center">
              <label for="inputPassword" class="col col-form-label"
                >Your New Password</label
              >
              <div class="col-lg-auto">
                <input
                  type="password"
                  id="iPassword"
                  formControlName="new_password1"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row mb-3 justify-content-md-center">
              <label for="inputPassword" class="col col-form-label"
                >Confirm New Password</label
              >
              <div class="col-lg-auto">
                <input
                  type="password"
                  name=""
                  id="inputPassword"
                  formControlName="new_password2"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row md-3 justify-content-md-center">
              <div class="text-center">
                <button class="btn btn-primary">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </body>
    </div>
  </div>
</section>
