<nav class="sidebar" [ngClass]="{ close: isSidebarClosed }">
  <header>
    <i class="bi bi-list sidebar-icon bigger-icon" (click)="toggleSidebar()"></i>
  </header>
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="bx bx-user icon"></i>
            <span class="text nav-text flexible-text">{{ user.first_name }}</span>

          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="bx bx-home-alt icon"></i>
            <span class="text nav-text">Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/friends" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class='bx bx-group icon'></i>
            <span class="text nav-text">Friends</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class='bx bxs-user-rectangle icon'></i>
            <span class="text nav-text">Users</span>
          </a>
        </li>
        <li class="nav-link">
          <a routerLink="/invitations" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class='bx bx-male-female icon'></i>
            <span class="text nav-text">Invitations</span>
          </a>
        </li>

        <li class="nav-link">
          <a routerLink="/report" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="bx bxs-error-alt icon"></i>
            <span class="text nav-text">Report Error</span>
          </a>
        </li>


        <li class="nav-link">
          <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text" *ngIf="isLoggedIn" (click)="logout()">Logout</span>
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>