<div class="main-container">
    <div class="image-container">
      <img src="..\..\assets\logo.png" alt="Grafika">
    </div>
    <div class="content-container">
      <h2>The best chat room in the whole Białystok</h2>
      <p>Join today.</p>
      <p>By registering, you agree to the Terms of Use and Privacy Policy, including the Cookie Policy.</p>
      <button class="register-button">Sign up!</button>
      <p>Do you already have an account?</p>
      <button class="login-button">Log in!</button>
    </div>
  </div>