<div class="bg-img">
<div class = "bgPosition" [class.bg]="bgVariable"></div>

</div>

<header [class.headerFixed]="headerVariable">
  <div class="conteiner">
    <div class="logo">
      <img src="../../assets/logo.png" alt="Logo">
    </div>
  </div>
</header>

<section class="banner">
  <div class="container">
  <div class="banner-content">
  <h1>Shifeld</h1>
  <p>Mati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUlMati krUl</p>
  <ul>
    <li>
      <h2>hehehehe</h2>
      <p>zdechne</p>
    </li>
    <li>
      <h2>hehehehe</h2>
      <p>zdechne</p>
    </li>
    <li>
      <h2>hehehehe</h2>
      <p>zdechne</p>
    </li>
  </ul>
</div>
</div>
</section>

<section class="gallery">
  <div class="container">
    <div class="gallery-container">
      <div class="row">
        <div class="col-md-6">
          <img src="../../assets/logo.png" alt="Left Gallery Image" class="gallery-image">
        </div>
        <div class="col-md-6">
          <img src="../../assets/logo.png" alt="Right Gallery Image" class="gallery-image">
        </div>
      </div>
    </div>

  </div>
</section>