/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f8fa;
  overflow-x: hidden;
}

/* Input Form */
.input-form {
  display: block;
  width: 100%;
}

.input-container {
  background-color: #ffffff;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: flex-start;
  max-height: 400px;
  overflow: auto;
  overflow-x: hidden;
}

.input-container .post-input {
  max-width: 100%;
  height: auto;
}

/* Profile Picture */
.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Post Input */
.post-input {
  flex: 1;
  border: none;
  resize: none;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.attachment-container {
  position: relative;
  margin-right: 10px;
  display: flex;
  gap: 10px;
}

.attachment-container img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.attachment-input {
  display: none;
}

.post-button {
  background-color: #1da1f2;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  top: 50%;
  left: 50%;
  margin-top: auto;
}

.post-button:hover {
  background-color: #1986d7;
}

.selected-file-info-container {
  display: flex;
  align-items: center;
}

/* Post List */
.post-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Post */
.post {
  flex-direction: column;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  top: 20px;
  margin-top: 20px;
}

.post-text {
  font-size: 14px;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;
}

/* User Avatar */
.user-avatar {
  display: flex;
}

.user-avatar h2 {
  margin-top: 7px;
}

.user-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.username {
  font-size: 16px;
  font-weight: bold;
}

.timestamp {
  font-size: 12px;
  color: #888;
}

.post-text {
  font-size: 14px;
  margin-bottom: 5em;
  flex-grow: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Post Content */
.post-content {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.post-content img {
  max-width: 100%;
  height: auto;
}

.post-image {
  background-size: cover;
  background-position: flex;
  border-radius: 5px;
  margin-right: 10px;
  display: block;
  width: 500px;
  height: 560px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

/* Post Actions */
.post-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  min-height: 2em;
  flex-wrap: wrap;
  overflow: hidden;
}

.likes{
  width: 50%;
  text-align: center;
}

.comments{
  width: 50%;
  text-align: center;
}
.comments a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.2em;
}
@keyframes glow {
  100% {
    background: #db291d;
  }
}

.heart-icon {
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s;
}

.filled {
  color: red;
}